body{
background:#0d1117;
font-family:Arial,sans-serif;
color:white;
}

.admin-container{
max-width:600px;
margin:auto;
padding:30px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input,
select{
padding:15px;
border:none;
border-radius:10px;
background:#161b22;
color:white;
}

button{
padding:15px;
background:#00d084;
border:none;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

#successMsg{
margin-top:20px;
color:#00d084;
}