*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0d1117;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.auth-container{
width:400px;
background:#161b22;
padding:40px;
border-radius:15px;
}

.auth-container h1{
text-align:center;
margin-bottom:25px;
}

input{
width:100%;
padding:15px;
margin-bottom:15px;
border:none;
border-radius:10px;
outline:none;
}

button{
width:100%;
padding:15px;
background:#00d084;
border:none;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

p{
margin-top:15px;
text-align:center;
}

a{
color:#00d084;
}

.back-btn{
display:inline-block;
margin-bottom:20px;
color:#00d084;
text-decoration:none;
font-weight:600;
}

.back-btn:hover{
opacity:0.8;
}

.subtitle{
color:#aaa;
margin-bottom:25px;
text-align:center;
}

.auth-links{
text-align:right;
margin-top:10px;
margin-bottom:20px;
}

.auth-links a{
color:#00d084;
text-decoration:none;
}

.register-text{
text-align:center;
margin-top:20px;
color:#ccc;
}

.register-text a{
color:#00d084;
text-decoration:none;
font-weight:600;
}

