*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#0d1117;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.card{
background:#161b22;
padding:40px;
border-radius:15px;
width:400px;
text-align:center;
}

.card h1{
margin-bottom:15px;
}

.card p{
margin-bottom:20px;
color:#9ca3af;
}

input{
width:100%;
padding:14px;
border:none;
border-radius:10px;
background:#111827;
color:white;
margin-bottom:20px;
}

button{
width:100%;
padding:14px;
border:none;
border-radius:10px;
background:#00d084;
color:black;
font-weight:bold;
cursor:pointer;
}

button:hover{
opacity:.9;
}

a{
display:block;
margin-top:20px;
color:#00d084;
text-decoration:none;
}