body{

margin:0;
background:#07090e;
color:white;
font-family:'Orbitron',sans-serif;

}

header{

display:flex;
justify-content:space-between;
padding:20px;
border-bottom:1px solid #111;

}

.logo{

font-size:24px;
font-weight:900;
color:#10b981;

}

.container{

display:grid;
grid-template-columns:250px 1fr 250px;
gap:20px;
padding:20px;

}

.left-panel,
.right-panel{

background:#0d111b;
padding:20px;
border-radius:20px;

}

.game-panel{

background:#0d111b;
padding:20px;
border-radius:20px;
text-align:center;

}

.wheel-container{

display:flex;
justify-content:center;
margin:30px 0;

}

#wheel{

width:300px;
height:300px;
border-radius:50%;
border:8px solid #10b981;
display:grid;
grid-template-columns:1fr 1fr;
overflow:hidden;
transition:4s ease-out;

}

#wheel div{

display:flex;
justify-content:center;
align-items:center;
font-weight:bold;

}

#wheel div:nth-child(odd){

background:#10b981;
color:black;

}

#wheel div:nth-child(even){

background:#111827;

}

#spinBtn{

padding:15px 40px;
background:#10b981;
border:none;
font-weight:bold;
cursor:pointer;
border-radius:10px;

}

#result{

margin-top:20px;
font-size:20px;

}

.stat{

margin-bottom:20px;

}

#logs{

font-size:12px;
line-height:1.8;

}